In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

dftrain = pd.read_csv(r'/content/drive/MyDrive/tanzaniaML/Train.csv')
dftest = pd.read_csv(r'/content/drive/MyDrive/tanzaniaML/Test.csv')
dfvar =  pd.read_csv(r'/content/drive/MyDrive/tanzaniaML/VariableDefinitions.csv')
dfsub = pd.read_csv(r'/content/drive/MyDrive/tanzaniaML/SampleSubmission.csv')

In [ ]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
 22  total_cost             4809 non-null   float64
dtypes: float64(5), object(18)
memory usage: 864.2+ KB

In [ ]:
dftest.info()
print(dftest.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1601 non-null   object
 1   country                1601 non-null   object
 2   age_group              1601 non-null   object
 3   travel_with            1274 non-null   object
 4   total_female           1600 non-null   float64
 5   total_male             1599 non-null   float64
 6   purpose                1601 non-null   object
 7   main_activity          1601 non-null   object
 8   info_source            1601 non-null   object
 9   tour_arrangement       1601 non-null   object
 10  package_transport_int  1601 non-null   object
 11  package_accomodation   1601 non-null   object
 12  package_food           1601 non-null   object
 13  package_transport_tz   1601 non-null   object
 14  package_sightseeing    1601 non-null   object
 15  package_guided_tour    1601 non-null   object
 16  package_insurance      1601 non-null   object
 17  night_mainland         1601 non-null   int64
 18  night_zanzibar         1601 non-null   int64
 19  payment_mode           1601 non-null   object
 20  first_trip_tz          1601 non-null   object
 21  most_impressing        1490 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 275.3+ KB
(1601, 22)

In [ ]:
dftrain.describe()

       total_female   total_male  night_mainland  night_zanzibar    total_cost
count   4806.000000  4804.000000     4809.000000     4809.000000  4.809000e+03
mean       0.926758     1.009575        8.488043        2.304429  8.114389e+06
std        1.288242     1.138865       10.427624        4.227080  1.222490e+07
min        0.000000     0.000000        0.000000        0.000000  4.900000e+04
25%        0.000000     1.000000        3.000000        0.000000  8.121750e+05
50%        1.000000     1.000000        6.000000        0.000000  3.397875e+06
75%        1.000000     1.000000       11.000000        4.000000  9.945000e+06
max       49.000000    44.000000      145.000000       61.000000  9.953288e+07

In [ ]:
dftrain.keys()

Index(['ID', 'country', 'age_group', 'travel_with', 'total_female',
       'total_male', 'purpose', 'main_activity', 'info_source',
       'tour_arrangement', 'package_transport_int', 'package_accomodation',
       'package_food', 'package_transport_tz', 'package_sightseeing',
       'package_guided_tour', 'package_insurance', 'night_mainland',
       'night_zanzibar', 'payment_mode', 'first_trip_tz', 'most_impressing',
       'total_cost'],
      dtype='object')

In [ ]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
 22  total_cost             4809 non-null   float64
dtypes: float64(5), object(18)
memory usage: 864.2+ KB

In [3]:
dftrain.fillna(dftrain.mean(), inplace=True)
dftrain.isna().sum()

ID                          0
country                     0
age_group                   0
travel_with              1114
total_female                0
total_male                  0
purpose                     0
main_activity               0
info_source                 0
tour_arrangement            0
package_transport_int       0
package_accomodation        0
package_food                0
package_transport_tz        0
package_sightseeing         0
package_guided_tour         0
package_insurance           0
night_mainland              0
night_zanzibar              0
payment_mode                0
first_trip_tz               0
most_impressing           313
total_cost                  0
dtype: int64

In [4]:
dftrain.fillna(dftrain.mode().iloc[0],inplace=True)

In [5]:
dftest.fillna(dftest.mean(), inplace=True)
dftest.fillna(dftest.mode().iloc[0],inplace=True)

In [6]:
dftrain

             ID  ...  total_cost
0        tour_0  ...    674602.5
1       tour_10  ...   3214906.5
2     tour_1000  ...   3315000.0
3     tour_1002  ...   7790250.0
4     tour_1004  ...   1657500.0
...         ...  ...         ...
4804   tour_993  ...   3315000.0
4805   tour_994  ...  10690875.0
4806   tour_995  ...   2246636.7
4807   tour_997  ...   1160250.0
4808   tour_999  ...  13260000.0

[4809 rows x 23 columns]

In [7]:
dftrain

             ID  ...  total_cost
0        tour_0  ...    674602.5
1       tour_10  ...   3214906.5
2     tour_1000  ...   3315000.0
3     tour_1002  ...   7790250.0
4     tour_1004  ...   1657500.0
...         ...  ...         ...
4804   tour_993  ...   3315000.0
4805   tour_994  ...  10690875.0
4806   tour_995  ...   2246636.7
4807   tour_997  ...   1160250.0
4808   tour_999  ...  13260000.0

[4809 rows x 23 columns]

In [8]:
y = dftrain['total_cost']
X  = dftrain.drop(['total_cost','ID'],axis=1)

In [ ]:
X.shape

(4809, 21)

In [ ]:
y.shape

(4809,)

In [ ]:
dftest.shape

(1601, 22)

In [9]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

In [10]:
from sklearn.preprocessing import LabelEncoder
Enc = LabelEncoder()
Categorical_colms = ["country","age_group","travel_with","purpose","main_activity","info_source","tour_arrangement","package_transport_int","package_accomodation","package_food","package_transport_tz","package_sightseeing","package_guided_tour","package_insurance","payment_mode","first_trip_tz","most_impressing"]
for colm in Categorical_colms:
  X_train[colm] = pd.get_dummies(X_train[colm]) 
  X_test[colm] = pd.get_dummies(X_test[colm])

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3606 entries, 1596 to 2732
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                3606 non-null   uint8
 1   age_group              3606 non-null   uint8
 2   travel_with            3606 non-null   uint8
 3   total_female           3606 non-null   float64
 4   total_male             3606 non-null   float64
 5   purpose                3606 non-null   uint8
 6   main_activity          3606 non-null   uint8
 7   info_source            3606 non-null   uint8
 8   tour_arrangement       3606 non-null   uint8
 9   package_transport_int  3606 non-null   uint8
 10  package_accomodation   3606 non-null   uint8
 11  package_food           3606 non-null   uint8
 12  package_transport_tz   3606 non-null   uint8
 13  package_sightseeing    3606 non-null   uint8
 14  package_guided_tour    3606 non-null   uint8
 15  package_insurance      3606 non-null   uint8
 16  night_mainland         3606 non-null   float64
 17  night_zanzibar         3606 non-null   float64
 18  payment_mode           3606 non-null   uint8
 19  first_trip_tz          3606 non-null   uint8
 20  most_impressing        3606 non-null   uint8
dtypes: float64(4), uint8(17)
memory usage: 200.7 KB

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1203 entries, 825 to 4631
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                1203 non-null   int64
 1   age_group              1203 non-null   int64
 2   travel_with            1203 non-null   int64
 3   total_female           1203 non-null   float64
 4   total_male             1203 non-null   float64
 5   purpose                1203 non-null   int64
 6   main_activity          1203 non-null   int64
 7   info_source            1203 non-null   int64
 8   tour_arrangement       1203 non-null   int64
 9   package_transport_int  1203 non-null   int64
 10  package_accomodation   1203 non-null   int64
 11  package_food           1203 non-null   int64
 12  package_transport_tz   1203 non-null   int64
 13  package_sightseeing    1203 non-null   int64
 14  package_guided_tour    1203 non-null   int64
 15  package_insurance      1203 non-null   int64
 16  night_mainland         1203 non-null   float64
 17  night_zanzibar         1203 non-null   float64
 18  payment_mode           1203 non-null   int64
 19  first_trip_tz          1203 non-null   int64
 20  most_impressing        1203 non-null   int64
dtypes: float64(4), int64(17)
memory usage: 206.8 KB

In [12]:
X_train

      country  age_group  ...  first_trip_tz  most_impressing
1596        0          0  ...              1                1
2217        0          0  ...              0                1
2967        0          0  ...              0                0
2868        0          0  ...              0                0
4321        0          0  ...              1                0
...       ...        ...  ...            ...              ...
1033        0          0  ...              0                0
3264        0          0  ...              0                0
1653        0          0  ...              1                0
2607        0          0  ...              0                0
2732        0          0  ...              0                0

[3606 rows x 21 columns]

In [13]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [14]:
print(model.coef_)
print(model.intercept_)
print(model.score(X_test,y_test))

[-6381597.31254035 -1255069.71171699 -2447355.23969082  1304343.69883201
  1428682.0978849    -69358.53333839 -1266729.58834712  -542201.62175615
 -1330497.35426067 -3843498.1625011  -1045844.79126653 -1508206.60635938
 -1896505.85058711 -2288152.77796863  -382249.31984698   -10380.92376252
    95616.98858608   181333.06014416 -2693016.88327407  -463589.54783176
   165379.59602103]
16397225.532404013
0.2626974791513894

In [15]:
dftest.shape

(1601, 22)

In [16]:
dftest = dftest.drop('ID',axis=1)
dftest

                       country  ...                       most_impressing
0                    AUSTRALIA  ...                              Wildlife
1                 SOUTH AFRICA  ...  Wonderful Country, Landscape, Nature
2                      GERMANY  ...                           No comments
3                       CANADA  ...                       Friendly People
4               UNITED KINGDOM  ...                       Friendly People
...                        ...  ...                                   ...
1596  UNITED STATES OF AMERICA  ...                       Friendly People
1597                     ITALY  ...                              Wildlife
1598                   FINLAND  ...                           No comments
1599              SOUTH AFRICA  ...                              Wildlife
1600              SOUTH AFRICA  ...                       Friendly People

[1601 rows x 21 columns]

In [17]:
for colm in Categorical_colms:
  dftest[colm]  = pd.get_dummies(dftest[colm])

In [18]:
yprob = model.predict(dftest)

In [19]:
list(yprob)

[18102783.108161185,
 14043514.332593817,
 6247364.963258892,
 3477822.7891007233,
 16903445.485090293,
 4509004.524364699,
 7404056.540366501,
 -241688.26426322944,
 -1718148.593828436,
 7377336.146456828,
 15231246.116145423,
 19517235.912350707,
 22730765.521471355,
 4739547.435571436,
 6192754.633005131,
 9589296.968265891,
 6300405.3050726205,
 12851708.43075534,
 8640918.65543734,
 16927059.864271626,
 43727.47128576413,
 4311773.650413616,
 9407123.183004001,
 571433.6979432777,
 953901.6522875968,
 7874960.025436476,
 1443685.0709223356,
 -408099.0163969472,
 4032772.790426856,
 17740969.48917315,
 8557632.914065376,
 14293555.423899338,
 425833.09716298245,
 20697315.973533485,
 15728192.314643674,
 2896478.0219716616,
 1226526.6026776582,
 4218302.306250576,
 6360266.995479582,
 2118579.8097127043,
 1382482.0100780204,
 5893427.427796055,
 342341.4971930571,
 -455170.6104920618,
 1594499.1619233415,
 2126449.482257882,
 2992648.308141805,
 -147506.50588639453,
 11633643.32875499,
 767951.2752575427,
 3195092.0478789527,
 5516648.902945166,
 5578282.430923888,
 3850406.2755230926,
 22332553.43927374,
 10380783.322239969,
 -1347340.516114246,
 -546977.8282194883,
 8326471.194809345,
 7979937.523930378,
 664587.7313102335,
 6582664.880541742,
 7247305.230128985,
 5680781.961695369,
 -1689427.1833616234,
 3757678.466220863,
 15154750.774034545,
 21335609.811188836,
 5489987.94916144,
 5875864.30880039,
 -489566.51813304797,
 406458.1760188062,
 5059751.208784496,
 17364306.87886166,
 8803574.79712257,
 8818606.752229486,
 8462105.91201723,
 12467873.30085626,
 -1825425.4590446465,
 4609983.602224344,
 14334838.727952983,
 3913906.278006293,
 6036097.442448454,
 2380534.855463201,
 107844.15011151321,
 4154185.627424825,
 9281276.749516891,
 17549002.380451314,
 14331309.451855183,
 6534024.937431799,
 1542098.9789027087,
 6950787.03314922,
 4606532.887791241,
 7006537.149455907,
 5566153.48808514,
 5151779.189270668,
 69640.0182847958,
 11541916.705327604,
 3019578.279300522,
 -243123.49447247386,
 12165257.545551376,
 5504369.624546433,
 6185912.172731511,
 2543047.422168549,
 3179350.845015116,
 -434357.4716446325,
 4344732.02919844,
 3222319.3734415285,
 12032246.114880502,
 13077733.256288616,
 7085864.613586504,
 -1729808.4704585671,
 13307229.531135399,
 5365018.593884986,
 4172590.4407272507,
 2118579.8097127043,
 -1223002.1170613542,
 2269517.362304399,
 9915555.09442966,
 203461.1386975944,
 7591686.197047044,
 17795650.30161243,
 4342569.108614825,
 8333277.864357562,
 17023170.239059273,
 12992736.284319825,
 406458.1760188062,
 16849407.115918,
 3790184.55529595,
 2021890.4680642597,
 -432501.7471203841,
 107844.15011151321,
 1382365.3114908803,
 8382953.758686283,
 16829462.800136495,
 3537296.8545171656,
 11666825.025676692,
 107844.15011151321,
 2046442.3770807944,
 -529974.4602307118,
 2657003.1714573856,
 21677541.118168313,
 2118579.8097127043,
 19994577.834924847,
 12338385.627347853,
 9021222.461897139,
 6806763.498627478,
 8811972.429615384,
 10331825.4873537,
 14234536.367199127,
 16354755.389036516,
 8217402.853476502,
 -57131.37181295827,
 13952152.139111329,
 2596781.451230243,
 3624653.7462865487,
 11518680.99580403,
 373796.7892823722,
 11356168.429098682,
 13020076.203318112,
 14482640.402594497,
 4974447.281189019,
 1377410.8036000598,
 4794929.799821975,
 13653871.02690009,
 9602238.258358253,
 1218802.8409198876,
 4731859.046058113,
 15312343.642541131,
 203461.1386975944,
 17680255.297465898,
 5343205.052233744,
 30059628.184006847,
 17176315.973384373,
 5229681.238599787,
 20430910.00411358,
 1611171.7122922018,
 7036083.981120817,
 9795550.924070608,
 17096172.442186896,
 884543.1189492047,
 11279348.461363252,
 13028901.127439015,
 4803819.412058534,
 2023079.519713765,
 14454762.681241477,
 13653403.86888917,
 4016995.220328197,
 -503716.00498302653,
 11064008.401668705,
 13743993.859910224,
 4577857.893663615,
 3876548.0032960363,
 33301187.01644938,
 1403265.1847511828,
 19648345.185494173,
 16706809.307040691,
 -51889.5173003152,
 17383023.407945134,
 3070753.648826061,
 3506582.798641743,
 12394405.661794433,
 17507361.806998026,
 13002714.859987315,
 8286462.281366495,
 17548403.003966168,
 299078.12728367373,
 17805551.218640424,
 2545510.3773876727,
 14722713.218742853,
 -243123.49447247386,
 803421.5254617594,
 -77743.89845143817,
 14246820.482391816,
 1610001.7666664831,
 25071074.857386753,
 15009991.56065334,
 16889465.007626135,
 12291413.501583457,
 17058105.00296475,
 6992049.196434554,
 17739636.981138326,
 17000555.453600816,
 11249192.454460112,
 21481505.363828648,
 9330716.40808167,
 17796850.128631935,
 4389487.942937674,
 737963.4761986565,
 2827119.4886332694,
 13971953.973167319,
 20061473.413044114,
 19703953.260637406,
 13576748.67780437,
 13129276.994690765,
 8070473.5387334265,
 7504803.829196848,
 9828867.503889348,
 20781570.69773987,
 23063538.469381627,
 4261617.7903023865,
 17096172.442186896,
 9939761.046717577,
 8156985.121686638,
 8869086.877075318,
 19376013.59452382,
 13741140.146378718,
 7032028.413005328,
 18775602.92438239,
 12490735.904788012,
 12811839.89166861,
 7182651.850889437,
 7459801.139558855,
 -396746.4489412643,
 17548403.003966168,
 904280.3685604818,
 -529974.4602307118,
 18250498.998792373,
 19682615.50837174,
 13124518.116025094,
 8192274.793239941,
 18122104.935482647,
 16492506.42979992,
 -202772.1715497952,
 10883399.908229725,
 12911732.448128492,
 21339724.410464086,
 12750819.589777898,
 11245077.983124003,
 13264279.01689149,
 20307334.12474233,
 15316892.05199206,
 10942363.250405073,
 15860455.098136308,
 9901332.675785124,
 20403431.12006294,
 7765900.3272382505,
 12487957.005494494,
 16819702.40019118,
 3481943.0136371925,
 9100166.900114361,
 21953584.58768505,
 17165935.04962185,
 6225061.379805975,
 9902644.075997455,
 571433.6979432777,
 15744145.778766803,
 2528696.821461471,
 18524854.540071797,
 15451865.017165627,
 16096971.992276551,
 9902815.373658217,
 6511912.345564213,
 -926610.2640953064,
 11862547.406343644,
 18958744.615146782,
 365973.7054029405,
 10579076.811399233,
 96127.65430639684,
 25940535.80129528,
 12268671.983273622,
 16101869.641637003,
 8328932.978794163,
 12891264.879594825,
 18662735.75271681,
 -1414236.0942335129,
 18970181.570518926,
 13635142.234030114,
 16267119.854672508,
 7795703.467748012,
 2384783.425285183,
 6045673.661224786,
 13528486.72213591,
 16809321.476428658,
 17070318.06103577,
 4526869.363328289,
 17941846.777222425,
 338448.10958918,
 14937338.760392586,
 809761.419178715,
 7526965.425616305,
 -756966.0342289098,
 -1605470.0714056753,
 14840465.240178064,
 3386326.025051113,
 14054833.620734766,
 5116439.5712279435,
 19502338.359702725,
 17901945.58009302,
 13769434.180693282,
 16010736.445727713,
 5149403.320023429,
 11667695.490981732,
 38485.61677312106,
 -434357.4716446325,
 16917956.744652927,
 2527306.2193047106,
 20206356.666509252,
 13759053.256930757,
 13759053.256930757,
 -243123.49447247386,
 -1020429.6940050386,
 2241845.855703233,
 2896478.0219716616,
 8870087.384705761,
 21274290.17969652,
 15226336.898620365,
 13295463.709098995,
 12635914.223596917,
 698550.9962896891,
 342341.4971930571,
 10608482.405966602,
 365973.7054029405,
 23929733.575075053,
 13890653.11769399,
 13755141.05003867,
 507317.0191175286,
 17249264.098598775,
 3032346.2256442066,
 2635885.511461109,
 7461030.05424536,
 14344521.010483641,
 3049853.7755657583,
 17373602.497651666,
 124849.0647732094,
 6458206.6951201875,
 105381.1948923897,
 14522005.700694947,
 3937213.9676886834,
 10369174.280361421,
 14991229.990319282,
 16642963.818117654,
 11696365.331225064,
 7140487.918793064,
 17703576.481291607,
 747460.3191300854,
 -666361.7193815596,
 11712782.002291877,
 -1440780.3494301029,
 3463849.8468426317,
 20977744.201046493,
 585929.0930419117,
 4194766.085927019,
 8203613.239124099,
 261219.90370561182,
 -2321135.0807608105,
 18863541.68707053,
 11563881.266293924,
 2098842.560101427,
 9905290.405554166,
 6347803.633998366,
 10268605.489720343,
 13663863.644496925,
 3491375.442656392,
 13919612.964036707,
 10171279.545055851,
 9185621.599435251,
 16819702.40019118,
 13396387.13664243,
 15173812.210448656,
 13614904.193596007,
 17476587.20594033,
 13268964.389059266,
 10262663.406539991,
 8702051.037516002,
 8157073.604247857,
 134102.6053592004,
 310841.18743272685,
 6464851.254941715,
 2361502.457411045,
 -503716.00498302653,
 5111427.866347987,
 2722248.9594611973,
 10114900.49052677,
 6929255.451691361,
 9838394.827434897,
 8869303.772789054,
 12824323.171243414,
 18153463.701825127,
 22221540.298600808,
 13868253.515077315,
 4936249.324925341,
 7822954.615626266,
 18638081.156134505,
 18080286.343455423,
 9121286.286112167,
 5103020.128492368,
 7040831.29082901,
 6922001.0618002135,
 18661145.64097892,
 17798193.67560944,
 -1526914.6166562736,
 4258838.891008867,
 9928765.678862162,
 9733762.937634576,
 14151683.500540266,
 17109155.19861145,
 -396380.97391890734,
 15309126.428413486,
 15904151.106763016,
 11245171.408970196,
 19323492.55634867,
 6654151.848950127,
 19062594.39387974,
 -138655.4927240461,
 10277729.702470291,
 6162715.27455863,
 13157057.291099716,
 4845220.638846859,
 5721992.1968983635,
 2050611.8785310723,
 -408099.0163969472,
 3740293.891838379,
 55490.53143481724,
 7233641.952160021,
 -450576.132421419,
 18791609.900444854,
 8566470.666320069,
 1892258.254354082,
 -884398.3447244875,
 12978187.70261453,
 15089655.08511629,
 11466299.224544384,
 1243531.5173393544,
 16055462.683837667,
 8137369.116852693,
 2949430.4042957015,
 19329260.84120659,
 15179777.19198126,
 2118579.8097127043,
 15356085.849080957,
 7751735.808533266,
 13526462.865108673,
 5028964.540067721,
 17584638.308879815,
 4258455.90047279,
 2713035.617831748,
 5249599.771242917,
 -793479.0177279674,
 5476928.536246046,
 6558534.860364048,
 25384575.95356767,
 5395923.641345739,
 -338740.4830585532,
 -1701087.0599917546,
 7211093.743710874,
 5124065.4716666415,
 3183328.9877298996,
 17643464.580756385,
 985401.9620479271,
 32423481.72488746,
 14542969.477396218,
 9836734.886146244,
 -513331.8740361184,
 10772558.845541824,
 7449797.718367254,
 9710291.040751513,
 16029315.90451241,
 10751366.72574465,
 10581513.217986796,
 13669205.777378267,
 13263055.20344832,
 21058520.746470112,
 13199648.549217833,
 203461.1386975944,
 5061565.976813883,
 6327697.215079907,
 15523450.987766933,
 5566153.48808514,
 18855724.92148076,
 13707619.630686924,
 13912402.528923508,
 20756145.38041515,
 13549906.16920656,
 24964558.740795366,
 7398157.444491465,
 15220865.192382898,
 638329.2760625444,
 340119.32425181754,
 3849703.2198772747,
 215159.61440193467,
 11986401.225485038,
 17499117.05332353,
 6749233.0153625775,
 4903190.521187054,
 4544448.8235824425,
 638329.2760625444,
 18078652.897437807,
 21176024.79629209,
 3859543.08863434,
 191744.64289247803,
 41466270.6847803,
 6922330.089830438,
 16982214.966896527,
 13351158.297587562,
 2160579.46782423,
 14365784.001345647,
 7042407.974987863,
 502075.1646048855,
 15017287.640098186,
 -2016659.4362168051,
 -504061.91323168203,
 8316570.27778135,
 1755680.0036179032,
 1330051.8628831226,
 16745204.797602907,
 17297787.343121577,
 2705244.044799501,
 11274194.782067183,
 6879130.514986811,
 5156761.681950355,
 6016333.2386079,
 382978.6200646367,
 3793646.479761051,
 13739288.367062595,
 777163.0702140722,
 17041596.65056896,
 1185889.4798060767,
 17917601.67808416,
 7623517.383201024,
 15841877.077523489,
 18276177.741966017,
 1231482.6572414003,
 3235588.165193191,
 617429.4028022438,
 2715761.2971833516,
 4122628.6984895132,
 1924566.933247028,
 9733250.515303269,
 9570737.948597923,
 14273603.441529647,
 12046439.71459295,
 4653986.661674701,
 4388493.425943129,
 12356723.425639717,
 667454.7606259212,
 4146394.05439258,
 684324.9809215106,
 17287406.419359054,
 19378642.390404724,
 6827517.375230044,
 20843472.452650376,
 -408099.0163969472,
 6790382.803074211,
 16439836.27850889,
 13494567.671468783,
 7554647.174483046,
 2580905.645746609,
 17239883.36598339,
 2304571.9323722217,
 16823159.982596394,
 3554440.647493031,
 3130975.3690532036,
 12748953.590101607,
 14035942.295411587,
 229719.59394528158,
 5194438.362751976,
 4259015.957640355,
 18762418.23585809,
 3264450.581217345,
 18238778.228798244,
 16989894.960685186,
 762667.6751154363,
 3740293.891838379,
 2867692.1344657093,
 9134929.627666749,
 7742751.647677731,
 17423083.264296103,
 19172862.075225808,
 13773314.96622292,
 10293421.794356227,
 -1729808.4704585671,
 14050760.072996829,
 9960719.797389077,
 713046.3913883232,
 15636681.945889527,
 -1703550.015210878,
 13759053.256930757,
 11100416.981151555,
 6897468.821466627,
 1623220.572390154,
 20531075.2820391,
 15063396.95576277,
 15063396.95576277,
 20453872.49876535,
 15499636.671119353,
 16407442.037166014,
 81299.89491492696,
 -503716.00498302653,
 19132853.161782958,
 3292500.176544573,
 -57131.37181295827,
 18594617.147506755,
 19144746.72421956,
 10996553.01716714,
 2953717.9266508203,
 9350782.560958952,
 -1538170.4191898443,
 5137859.776298512,
 13683238.102400668,
 571433.6979432777,
 17257703.66827507,
 5383842.175105326,
 14120246.524354218,
 1232649.259694185,
 18194071.720079876,
 13934813.776714318,
 -503657.83913512155,
 5303465.148647061,
 18788031.673891336,
 16332728.37677192,
 13769434.180693282,
 15208318.348642565,
 16291925.500064692,
 9994501.184324294,
 13318619.122512942,
 5534078.188837992,
 9185402.964937916,
 17813974.892268836,
 16879084.083863612,
 1773684.278997548,
 3522580.136508772,
 7595509.152035996,
 6706234.844294466,
 13949750.55917886,
 3467716.998269014,
 11451585.181604851,
 220466.05335928872,
 1498882.1733372621,
 3508575.444050353,
 10170294.261265526,
 7670915.542574711,
 3780931.014709957,
 3780931.014709957,
 10295421.216111949,
 16657886.025820956,
 14465992.380220847,
 20395401.52488357,
 124849.0647732094,
 13572147.656425988,
 21899008.79606711,
 17706565.866856012,
 -68847.86761807464,
 -40126.45715126209,
 -532437.4154498391,
 12544112.155217137,
 79122.73964470252,
 2825471.1534444243,
 14436222.526184807,
 29232.076187130064,
 17806031.225374952,
 13769434.180693282,
 4000886.402348928,
 18319420.314287364,
 -1701087.0599917546,
 16547346.829531575,
 17229083.13438208,
 21585772.499515094,
 3502136.451487461,
 13007349.436714571,
 8344991.39137104,
 762667.6751154363,
 16602614.041867895,
 8834435.320353929,
 -1605065.997309111,
 6345509.491508808,
 11712976.028197005,
 -312482.027810866,
 13144211.495541098,
 13800521.83005115,
 7197859.2566502355,
 234961.44845792465,
 3685314.0261238776,
 13227232.558937134,
 -243065.32862456702,
 17188712.014578898,
 12433647.505198093,
 -177151.09112247266,
 9542016.53813111,
 16849697.019434318,
 13666642.543790445,
 14464268.019247415,
 6879419.851109497,
 13759053.256930757,
 571433.6979432777,
 14877015.741116922,
 17675092.064703133,
 13830232.049041055,
 16381110.835982569,
 15726576.055255614,
 9475120.960011844,
 6169036.106088944,
 12361266.036217302,
 13061440.302513637,
 18672636.669744805,
 13730759.222616194,
 15636681.945889527,
 14059566.236135274,
 3701665.145746764,
 -1566100.0891001672,
 9936395.014185674,
 15209717.738084072,
 6661157.1680974625,
 16879084.083863612,
 203461.1386975944,
 38485.61677312106,
 956680.5515811145,
 3276762.5098545197,
 29232.076187130064,
 5452532.224119417,
 811558.9778550602,
 13449554.185467161,
 18300069.63242848,
 9159548.583786793,
 14222142.814045426,
 94166762.89529562,
 18264314.33424936,
 6415824.12771469,
 713046.3913883232,
 3907915.120168779,
 12121104.337787319,
 2415095.1242694445,
 17917601.67808416,
 220466.05335928872,
 571433.6979432777,
 19737007.776937664,
 2922736.477219349,
 -1225837.6355298609,
 3365713.4984126315,
 20325602.34139038,
 39937.267200810835,
 17327681.085790895,
 14802471.28800464,
 12038307.926127203,
 809067.4540709648,
 3264869.632827567,
 15143967.863112496,
 -1350176.034582749,
 -1062864.3755529635,
 3659172.298350934,
 -338740.4830585532,
 2612405.9555069394,
 6638622.756058129,
 5071520.924531523,
 14585739.388984619,
 6191613.751656931,
 9376636.942110077,
 10144439.8801144,
 4933848.75826291,
 17644019.992552247,
 17287406.419359054,
 13157057.291099716,
 15945691.162959863,
 15834600.716985183,
 13240463.240089253,
 1562687.0668436084,
 2535153.442653168,
 -1223002.1170613542,
 14818619.222478129,
 13292820.975454133,
 -503716.00498302653,
 203461.1386975944,
 3574869.2781463284,
 -338740.4830585532,
 937080.8734216131,
 6419383.878536228,
 1157168.069339266,
 19122472.238020435,
 -532437.4154498391,
 16452070.140204826,
 6014535.679931555,
 -1130220.6469437778,
 5264457.711693428,
 558082.0664821789,
 11194935.331700798,
 4575112.049313072,
 17771791.398419347,
 15436443.999813622,
 1162409.923851909,
 13029119.761936352,
 4296630.068125246,
 14288515.157915462,
 13157057.291099716,
 490312.1044558324,
 12976204.23769008,
 12837885.784764191,
 16676072.363578111,
 -1689427.1833616234,
 15791680.618148038,
 6430059.129274242,
 507317.0191175286,
 261219.90370561182,
 3575471.02216962,
 18297254.40796694,
 16712829.875655714,
 12345933.987495111,
 19475936.082512632,
 15237080.028743222,
 11175026.772145266,
 24715257.033465113,
 -434357.4716446325,
 14792812.308232918,
 9475120.960011844,
 16991833.823423993,
 15710512.306515183,
 2186311.1726648435,
 3302616.8910056427,
 13153239.526491906,
 10856143.869353522,
 1653379.5117131304,
 13153239.526491906,
 13153239.526491906,
 -1333114.5007460713,
 7944828.648319563,
 16174523.695233572,
 14959868.607775785,
 8238270.498098906,
 -503716.00498302653,
 1750337.8707365654,
 502075.1646048855,
 15704123.11416971,
 7855599.124877486,
 11383232.05145704,
 11179429.847025156,
 1327099.6458274797,
 8122742.030257421,
 1118211.77766929,
 -57131.37181295827,
 8887193.013127187,
 13759053.256930757,
 11700797.545758136,
 14560560.925237698,
 7574644.0952713005,
 16297716.09894906,
 426195.4256300833,
 16593666.79553113,
 6942936.197872113,
 14285442.809886623,
 13934813.776714318,
 -1237497.5121599883,
 -1130220.6469437778,
 18214353.560870394,
 10011185.28462192,
 18811306.000821825,
 7066593.310120264,
 -135743.44573734142,
 4268269.498226348,
 4447875.1096155625,
 910042.9957568292,
 13225435.000260789,
 16502459.977410197,
 4491291.13178066,
 14151683.500540266,
 13398588.598882856,
 -1712037.8808853962,
 15239157.475546328,
 6891811.12068728,
 1327099.6458274797,
 664587.7313102335,
 7151775.421769101,
 12752649.719940636,
 15892950.117132317,
 12748980.371010195,
 20555010.486214995,
 15908070.959772334,
 15526412.390589591,
 2827119.4886332694,
 1038159.6548211873,
 10865339.601841912,
 13153458.160989242,
 14151683.500540266,
 17818907.273304004,
 151107.52002089843,
 16439836.27850889,
 3563555.3097648546,
 5796200.7843374405,
 -466143.58135386184,
 4621685.165710205,
 -20751.536007085815,
 11109363.338470966,
 -695295.8904038444,
 16167056.030457482,
 11621070.38833139,
 3615955.4927854873,
 3277798.847037142,
 15377635.16005259,
 13241315.293633305,
 8681948.566675264,
 7972214.486743782,
 99740.7917598635,
 4567910.560296433,
 503796.19476303086,
 14138919.378613047,
 16802502.398797218,
 17945728.932050884,
 17731782.4849765,
 17545034.640767835,
 16439836.27850889,
 4499580.541102521,
 4257500.402994536,
 1649479.0276378412,
 18609112.54260539,
 3490953.853046108,
 -164464.85620415397,
 6894390.803381149,
 12689649.978660144,
 8760915.751335489,
 918489.9637102168,
 4325911.535759624,
 4134677.5585874636,
 2395465.722390501,
 313620.08672624454,
 13502700.476625573,
 13852686.78059239,
 5707882.880117325,
 13216851.63517461,
 55490.53143481724,
 17106553.36594942,
 107844.15011151321,
 15824895.710626863,
 -338740.4830585532,
 13769434.180693282,
 2731502.50004719,
 13932665.643098675,
 -436820.42686375976,
 13595538.565918135,
 16439836.27850889,
 21367040.13896691,
 3027425.8018775377,
 220466.05335928872,
 9920636.122542568,
 19804566.884843472,
 4317631.110776486,

In [ ]:
yprob.shape

(1601,)

In [ ]:
dfsub.shape

(1601, 2)

In [ ]:
dftest.shape

(1177, 21)

In [20]:
dftest1 = pd.read_csv(r'/content/drive/MyDrive/tanzaniaML/Test.csv')

In [ ]:
dftest1.shape

(1601, 22)

In [23]:
preds_df_final = dftest1[['ID']]
preds_df_final['total_cost']=yprob
preds_df_final.to_csv('final454.csv', index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
preds_df_final

             ID    total_cost
0        tour_1  1.810278e+07
1      tour_100  1.404351e+07
2     tour_1001  6.247365e+06
3     tour_1006  3.477823e+06
4     tour_1009  1.690345e+07
...         ...           ...
1596   tour_988  1.222716e+04
1597   tour_990  1.898882e+07
1598   tour_992  4.117000e+05
1599   tour_996 -2.205312e+06
1600   tour_998  5.899117e+06

[1601 rows x 2 columns]